body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: rgb(3, 3, 3);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;

}
/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	height: 100vh;

	background: url("../img/intro.jpg") center no-repeat;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	font-family: 'Lobster', cursive;
	color: #fc04c6;
	font-size: 80px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}


.intro__subtitle {
	margin-bottom: 20px;
	font-size: 50px;
	color:  #fc04c6;
}

.intro__subtitle1 {
	margin-bottom: 20px;

	
	font-size: 40px;
	color:  #fc04c6;
}

.timer{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;


	max-width: 400px;
	color: #f0be0b;
}

/* Header */
.header {
	width: 100%;
	padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.logo {
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
	margin: 0 30px;
	position: relative;

	color: rgb(238, 255, 4);
	text-decoration: none;
}
/* Nav */
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: rgb(17, 214, 11);
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #f0be0b;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.nav__link:hover {
	color: #f0be0b;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

.nav__link.active {
	color: #f0be0b;
}

/*
.page6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;

	/*background: rgb(235,252,4);
	background: linear-gradient(100deg, rgba(235,252,4,1) 0%, rgba(52,235,205,1) 49%, rgba(0,255,157,0.9699230033810399) 100%);*/

	/*background: url('../img/01.jpg') 0 0/50px no-repeat, url('../img/02.jpg') 100% 100%/50px no-repeat, url('../img/03.jpg') 50% no-repeat, linear-gradient(100deg, rgba(235,252,4,1) 0%, rgba(52,235,205,1) 49%, rgba(0,255,157,0.9699230033810399) 100%); 50%/cover no-repeat;

}
*/

/* вопрос ответ */
.wrapper{
	font-family: Arial;
	font-size: 20px;
	margin: 0 auto;
	text-align: left;

	width: 100%;
	height: 100%;
	padding: 50px;
}
/* Основные стили */
.item {
	font-size: 40px;
}
.block__item {
	margin: 0px 0px 40px 0px;
}

.block__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding: 0px 0px 0px 50px;
	cursor: pointer;
}
.block__title:before,
.block__title:after{
	content: '';
	width: 10px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 8px;
	transition: all 0.3s ease 0s;
}
.block__title:before{
	transform: rotate(40deg);
	left: 0;
}
.block__title:after{
	transform: rotate(-40deg);
	left: 8px;
}

.block__title.active:before,
.block__title.active:after{
	background-color: red;
}
.block__title.active:before{
	transform: rotate(-40deg);
}
.block__title.active:after{
	transform: rotate(40deg);
}

.block__text {
	display: none;
	padding: 10px 0px 0px 0px;
}

.wrapper {
	padding: 30px;
	min-height: 100%;
}

.foto {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}